* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  padding: 1% 5%;
  background-color: #fff;
  width: 100%;
  border: 1px solid black;
}

.navTitle {
  font-weight: bold;
  color: black;
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
}

.logoTitleContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2rem;
}

.navItems {
  display: flex;
  flex-direction: row;
}

.navLinks {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1.9px;
  width: 25rem;
  list-style: none;
}

.navLinks li {
  list-style: none;
}

.navLinks li a {
  text-decoration: none;
}

.navLinks li a:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.navLinks li a:active {
  text-decoration: underline;
}
